# This rule is not used by the project sandbox-k8s itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to sandbox.opensandbox.io resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: sandbox-k8s
    app.kubernetes.io/managed-by: kustomize
  name: pool-viewer-role
rules:
- apiGroups:
  - sandbox.opensandbox.io
  resources:
  - pools
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - sandbox.opensandbox.io
  resources:
  - pools/status
  verbs:
  - get
