name: Sandbox K8S Tests

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'kubernetes/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.0'

      - name: Run golint
        run: |
          cd kubernetes
          make lint

      - name: Build binary
        run: |
          cd kubernetes
          make build
          make task-executor-build

      - name: Run tests
        run: |
          cd kubernetes
          make test
